<%= Rails.application.config.cache_store %>

<p id="notice"><%= notice %></p>

<h1>Lists</h1>

<%= render partial: 'lists/list', collection: @lists %>

<br>

<%= link_to 'New List', new_list_path %>

<%= will_paginate @lists %>
